img.logo-ingsite{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.logo-cliente-login{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
img.logo-cliente-site{
    width: 15%;
    display: block;
    margin-top: 0px;
}

a.btn-home{
    padding: 10rem 0;
    font-size: 2rem;
}
a.btn-cliente, button.btn-cliente{
    padding: 1rem 0;
    font-size: 1.2rem;
}

.list-box-article{
    max-height: 400px;
    margin: 0 auto;
    width: 95%;
    overflow: auto;
}

.inner-btn {
    position: absolute;
    width: 10px;
    font-weight: 550;
    border: none;
    background-color: transparent;
    line-height: 35px;
    left: calc(100% - 30px);
    z-index: 99999;
}

.inner-btn:hover {
    color: blue;
}